
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; 
    font-family: "Open Sans", serif;
}
:root{
    --text-color: #fff; 
    --bg-color:#003b72;
    --main-color: #b4d6eb;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}
body{
    color: #fff;
    background: var(--bg-color);
}

/*----custom scrollbar---*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background:whitesmoke;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 0px;
    min-height: 20px;
    max-height: 60px;
}
section{
    padding: 70px 17% 60px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(pictures/Coral.jpeg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--text-color);
}
.home-text h1{
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}
.home-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    margin-bottom: 35px;
}
/*content*/
.mycontent{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(pictures/safety.jpeg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mycontent-text h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--text-color);
}
.mycontent-text  h1{
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}
.mycontent-text  p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    margin-bottom: 35px;
}
.btn{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}
.btn:hover{
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

header .sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}
/*doing the holiday para and image part*/
.marine{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.marine-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.marine-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.marine-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.marine-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #000;
    margin-bottom:  35px;
}
/*Centerting the popular tours part*/
.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
}
/*Making the pictures to a row*/
.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.tour-content h4,h6{
    color:#000;
}

/*Making the pictures to small blocks horizontally*/
.box{
    position: relative;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}
/*making the text inside the pictures*/
.box h6{
    color: #fff;
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 18px;
    font-weight: 500;
}
.box h4{
    color: #fff;
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: 700;
}
/*makes the image hover effect*/
.box img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
}
.center-btn{
    text-align: center;
    margin-top: 4rem;
}
/*doing the holiday para and image part*/
.Important{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.Important-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.Important-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.Important-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}
.Important-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom:  35px;
    text-align: justify;
}
.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.newsletter-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}
.newsletter-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: #ffffffab;
    margin-bottom: 35px;
}
/*Goto button*/

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: inline-block;
    padding: 10px 20px; 
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 12px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;
}
        
.top a { 
    color: white;
    font-size: 12px; 
    font-weight: bold; 
    cursor: pointer;
}

.top a:hover {
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}
@media (max-width: 1700px) {
    header{
        padding: 18px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
    section{
        padding: 50px 8% 40px;
    }
}
@media (max-width: 1200px){
    header{
        padding: 14px 5%;
    }
    header.sticky{
        padding: 7px 5%;
    }
    section{
        padding: 45px 5% 35px;
    }
    :root{
        --h1-font: 4.6rem;
        --h2-font: 2.8rem;
        --p-font: 15px;
    }
    .home{
        height: 90vh;
    }
}
@media (max-width: 1050px){
    .feature-content{
        gap: 1.5rem;
    }
    .holiday{
        gap: 3rem;
    }
    .Important{
        gap: 3rem;
    }
    #menu-icon{
        display: block;
    }
    .menu{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .menu a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;
    }
    .menu.open{
        left: 0;
    }
}
@media (max-width: 800px){
    .holiday{
        grid-template-columns: 1fr;
    }
    .Important{
        grid-template-columns: 1fr;
    }
    .newsletter-content{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.1rem;
    }
    .home{
        height: 85vh;
    }
}
@media (max-width: 450px){
    header{
        padding: 15px 5%;
    }
    header.sticky{
        padding: 7px 3%;
    }
    section{
        padding: 60px 5% 50px;
    }

}
.Protect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.Protect-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;

}
.Protect-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;

}
.Protect-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
    
